<div class="form-container">
  {{vm.test}}
  <!-- {{vm.data}} -->

  <fieldset>
    Skill:
    <select required name="skillSelect" ng-model="vm.skill.skillName">
      <option value="" disabled selected>Select a skill...</option>
      <option ng-repeat="type in vm.data" value="{{type}}">{{type}}</option>
    </select>
    Years: <input type="text" name="years" value="" ng-model="vm.skill.years">
    Stars:
    <select name="stars" ng-model="vm.skill.stars">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <button type="button" ng-click="vm.createSkill()">Add skill</button>
  </fieldset>
  <ul name="displayedSkills">My Skills:</ul>
    <li ng-repeat="skill in vm.skillsArray track by $index">{{skill.skillName}}, {{skill.years}},{{skill.stars}}</li>
</div>
