<h2>You made it! Thanks for making an account (or maybe you logged in...)</h2>
<h2>It's time to add a project, {{vm.user.username}}!</h2>

<fieldset>
    <legend>Fields n Shit!</legend>
    Title: <input type="text" name="username" ng-model="vm.project.title">
    Blurb: <textarea name="blurb" rows="8" cols="80" ng-model="vm.project.blurb"></textarea>
    <input type="file" name="photo">
    Contribution: <textarea name="blurb" rows="2" cols="80" ng-model="vm.project.blurb"></textarea>
    Skills Used:
    <div class="user-skills">
        <label ng-repeat="skill in vm.user_skills track by $index" for="{{skill._id}}">
            <input id="{{skill._id}}" ng-click="vm.logSkills()" type="checkbox" value="{{skill._id}}" ng-model="vm.selected_skills[skill._id]">{{skill.name}}
        </label>
    </div>
    <button type="button" name="button">Add Project</button>
</fieldset>
