// main colors
$main-dark: hsl(214, 19%, 29%);

// importing files
@import 'base/typography';

@import 'layout/portfolio-header';


// global declarations
body {
  color: $main-dark;
  font-size: 14px;
  font-family: $font-stack;
}
